body{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
     background-color: #f16292;
}
.first-page
{
    text-align: center;
    background-color: #ffe6f0;
    padding: 50px;
    border-radius: 15px;
    box-shadow: black 0px 4px 12px;
   height: 80vh;

}
.content
{
    max-width: 600px;
    margin: 0 auto;
    
}
h1 
{
    font-size: 3rem;
    color: #ff4081;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
p 
{
    font-size: 1.2rem;
    color: #dc0049;
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
button 
{
    height: 50px;
    width: 150px;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    font-weight: 700;
}
button:hover 
{
    margin-left: 10px;
    background-color: white;
    color: #ff4081;
    border: 2px solid #ff4081;
}
.yes
{
    margin-right: 20px;

}