body{
    background-color: #f16292;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.main-page
{
    text-align: center;
    background-color: #ffe6f0;
    padding: 50px;
    border-radius: 15px;
    box-shadow: black 0px 4px 12px;
   height: 80vh;

}

h1 
{
    font-size: 3rem;
    color: #ff4081;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
h2
{

    font-size: 2rem;
    color: #dc0049;
   font-family: 'Arial', sans-serif;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}